{#
/**
 * @file session_level_checkout.html.twig
 * Default theme implementation to present Session Level Checkout data.
 *
 * This template is used when viewing Session Level Checkout pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_session_level_checkout()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('session_level_checkout') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
