{#
/**
 * @file connex_order.html.twig
 * Default theme implementation to present Connex order data.
 *
 * This template is used when viewing Connex order pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_connex_order()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('connex_order') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
