{#
/**
 * @file wirecard_errors.html.twig
 * Default theme implementation to present Wirecard Error Logs data.
 *
 * This template is used when viewing Wirecard Error Logs pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_wirecard_errors()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('wirecard_errors') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
