{#
/**
 * @file coupon_purchase_lifetime.html.twig
 * Default theme implementation to present Coupon Purchase Lifetime Limit data.
 *
 * This template is used when viewing Coupon Purchase Lifetime Limit pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_coupon_purchase_lifetime()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('coupon_purchase_lifetime') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
