{#
/**
 * @file stock_alert.html.twig
 * Default theme implementation to present Stock alert data.
 *
 * This template is used when viewing Stock alert pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_stock_alert()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('stock_alert') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
