#edit-field-availability-date-wrapper .form-item--error-message:not(:first-child) {
  display: none;
}

#block-bartik-account-menu .content .menu .menu-item a {
  padding: 0.3rem 2.5rem;
  margin-top: 30px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 6px;
  background-color: rgb(0, 122, 179);
  color: rgb(255, 255, 255);
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
}

#block-bartik-account-menu .content .menu .menu-item a:hover {
  text-decoration: none;
}

#block-bartik-branding {
  display: flex;
  align-items: center;
  width: 100%;
}

#block-bartik-branding .site-branding__logo {
  width: 200px;
  height: auto;
}

.site-branding__text .site-branding__slogan {
  font-size: 1.929em;
}

.user-login-form {
  max-width: 50%;
  margin: auto;
}

#block-userlogin .content #edit-name {
  width: 100%;
}

#block-userlogin .content #edit-pass {
  width: 100%;
}

#block-bartik-page-title .content .title.page-title {
  text-align: center;
}

#block-userlogin .item-list ul {
  max-width: 50%;
  margin: auto;
}

.path-frontpage #block-bartik-account-menu {
  display: none;
}

.user-logged-in.path-frontpage #block-bartik-account-menu {
  display: block;
}
